name: Publish to Pub.dev

# 流程触发时机，当推送标签时触发，如 git push --tags
on:
  push:
    tags:
      - '*'

jobs:
  publishing:
    runs-on: ubuntu-latest
    steps:
      # 拉去仓库代码
      - name: "Checkout"
        uses: actions/checkout@v2
      # 发布插件
      - name: Dart and Flutter Package Publisher
        uses: k-paxian/dart-package-publisher@v1.2
        with:
          # 设置发布插件需要的 Token
          accessToken: ${{ secrets.OAUTH_ACCESS_TOKEN }}
          refreshToken: ${{ secrets.OAUTH_REFRESH_TOKEN }}